<?xml version="1.0" encoding="UTF-8"?>
<!--springboot自带的日志即slf4j+logback-spring.xml-->
<configuration>
  <!-- 文件输出格式 -->
  <!--格式化输出：%d:表示日期    %thread:表示线程名     %-5level:级别从左显示5个字符宽度  %msg:日志消息    %n:是换行符-->
  <property name="PATTERN"
            value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level userId:%X{user} [%thread] %c [%L] -| %msg%n"/>
  <!--日志文件输出路径 -->
  <property name="FILE_PATH" value="/Users/xukaixing/project/logs/"/>

  <logger name="com.sprb" level="debug"/>
  <logger name="org.springframework.web" level="info"/>
  <logger name="org.ibatis" level="DEBUG"/>
  <logger name="druid.sql" level="DEBUG"/>
  <logger name="org.springframework.jdbc" level="DEBUG"/>
  <logger name="com.saicmotor.carapp.service.community" level="DEBUG"/>

  <!-- 控制台打印 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>
  <!-- 每天产生一个文件 -->
  <appender name="ALLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 文件路径 -->
    <file>${FILE_PATH}/logs.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/logs.%d{yyyy-MM-dd}-%i.log
      </fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <!--日志文件保留天数30天 -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
  </appender>
  <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 文件路径 -->
    <file>${FILE_PATH}/logs_error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/logs_error.%d{yyyy-MM-dd}-%i.log
      </fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <!--日志文件保留天数30天 -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
    <!-- 此日志文件只记录error级别的 -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <appender name="WARNFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 文件路径 -->
    <file>${FILE_PATH}/logs_warn.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/logs_warn.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <!--日志文件保留天数30天 -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
    <!-- 此日志文件记录warn级别以及以上 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <!--druid慢查询日志输出 -->
  <appender name="Druid_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 正在记录的日志文件的路径及文件名 -->
    <file>${FILE_PATH}/log_druid.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${APPDIR}/info/log-druid-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <!-- 追加方式记录日志 -->
    <append>true</append>
    <!-- 日志文件的格式 -->
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger Line:%-3L - %msg%n</pattern>
      <charset>utf-8</charset>
    </encoder>
    <!--过滤日志-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
    </filter>
  </appender>
  <!--druid相关logger，additivity="false" 设置打印信息行为不向上级传递-->
  <logger name="com.alibaba.druid.filter.stat.StatFilter" level="ERROR" additivity="false">
    <appender-ref ref="Druid_FILE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="ALLFILE"/>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ERRORFILE"/>
    <appender-ref ref="WARNFILE"/>
  </root>

  <jmxConfigurator/>
</configuration>
